email: 'matt.polito@example.com'          # Your Tumblr email address
password: 'password'                      # Your Tumblr password
subdomain: 'mygroup'                      # subdomain (mygroup.tumblr.com)